.body-bg {
  bacground-color:#ffffff
  font-familiy: Arial. sans-serif;
}
.main-table {
  width: 100%;
  border: 0;
  cellspacing: 4;
  cellpadding: 5;
}
.header-cell {
  bacground-color:#99CCFF;
  text-align: center;
  font-size: 1.25em;
  color: #000000;
  font-weight: bold;
}
.section-header {
  background-color: #FFF0D0;
  color: #000000;
  font-weight: bold;
  padding: 5px;
}
